[Unit]
Description=Hashi Backend Service
After=network.target docker.service libvirtd.service
Requires=docker.service libvirtd.service

[Service]
Type=simple
User=hashi
Group=hashi
# 這裡的路徑對應 jpackage 安裝後的標準路徑
ExecStart=/opt/hashi-backend/bin/HashiBackend
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target